<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzgreens.common.mapper.ProductsMapper">
    <select id="fuzzySearch"
            parameterType="map"
            resultType="com.nzgreens.common.entity.extend.UserProductItemDTO">
        SELECT
            products.id,
            products.title,
            products.image,
            products.selling_price sellingPrice,
            products.sales_volume salesVolume
            <if test="requestMap.agentUserId != null">
                ,ap.price agentPrice
            </if>
        FROM
        products
            LEFT JOIN (
            SELECT
            ap.price,
            ap.product_id
            FROM
            agent_products ap
            WHERE
            ap.agent_user_id = ${requestMap.agentUserId}) ap
            ON ap.product_id = products.id
        WHERE is_valid = 1
        <if test="requestMap.productFuzzyWord != null">
            AND
            MATCH (products.title) AGAINST(#{requestMap.productFuzzyWord} IN BOOLEAN MODE)
        </if>
    </select>

    <select id="selectUserProducts"
            parameterType="java.lang.Long"
            resultType="com.nzgreens.common.entity.extend.UserProductItemDTO">
       SELECT
            products.id,
            products.title,
            products.image,
            products.selling_price sellingPrice,
            products.sales_volume salesVolume,
            ap.price agentPrice
        FROM
        products
        LEFT JOIN (
          SELECT
              ap.price,
              ap.product_id
          FROM
            agent_products ap
          WHERE
            ap.agent_user_id = #{agentUserId}) ap
        ON ap.product_id = products.id
        Where is_valid = 1
    </select>

    <select id="selectProductDetail"
            parameterType="java.lang.Long"
            resultType="com.nzgreens.common.entity.extend.ProductDetailDTO">
        SELECT
            products.id,
            products.title,
            products.image,
            products.selling_price sellingPrice,
            products.sales_volume salesVolume,
            products.cost_price costPrice,
            products.detail,
            products.stock,
            products.weight,
            product_brand.name brandName
        FROM
          products
        LEFT JOIN
          product_brand
        ON
          product_brand.id = products.brand_id
        WHERE products.id = ${productId}
    </select>

    <select id="selectUserProductDetail"
            parameterType="com.nzgreens.common.entity.extend.UserProductDetailRequest"
            resultType="com.nzgreens.common.entity.extend.UserProductDetailDTO">
        SELECT
        products.id,
        products.title,
        products.image,
        products.selling_price sellingPrice,
        products.sales_volume salesVolume,
        products.cost_price costPrice,
        products.detail,
        products.stock,
        products.weight,
        product_brand.name brandName,
        ap.price agentPrice
        FROM
        products
        LEFT JOIN
        product_brand
        ON
        product_brand.id = products.brand_id
        LEFT JOIN(
        SELECT
        ap.price,
        ap.product_id
        FROM
        agent_products ap
        WHERE
        ap.agent_user_id = #{agentUserId}) ap
        ON
        ap.product_id = products.id
        WHERE products.id = ${productId}
    </select>

    <select id="selectUserProductPrice"
            parameterType="com.nzgreens.common.entity.service.UserProductPriceSearch"
            resultType="com.nzgreens.common.entity.service.ProductPrice">
        SELECT
            products.id productId,
            products.selling_price sellingPrice,
            ap.price agentPrice
        FROM
          products
        LEFT JOIN(
            SELECT
                ap.price,
                ap.product_id
            FROM
              agent_products ap
            WHERE
              ap.agent_user_id = #{agentUserId}) ap
        ON
          ap.product_id = products.id
        <if test="productIdList != null">
        WHERE products.id IN
            <foreach collection="productIdList" index="index" item="productId" open="(" separator="," close=")">
                 #{productId}
            </foreach>
        </if>
    </select>

</mapper>