<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzgreens.common.mapper.ShoppingCartMapper">

    <select id="selectAgentShoppingCart"
            parameterType="java.lang.Long"
            resultType="com.nzgreens.common.entity.extend.ShoppingCartDTO">
        SELECT
        sc.id,
        products.id productId,
        sc.product_number productNumber,
        products.title,
        products.image,
        products.weight,
        products.selling_price sellingPrice
        FROM
        shopping_cart sc
        LEFT JOIN products ON sc.product_id = products.id AND products.is_valid = 1
        WHERE
        sc.user_id = #{agentId}
    </select>

    <select id="selectShoppingCart"
            parameterType="com.nzgreens.common.entity.UserAgent"
            resultType="com.nzgreens.common.entity.extend.UserShoppingCartDTO">
         SELECT
            sc.id,
            products.id productId,
            sc.product_number productNumber,
            products.title,
            products.image,
            products.weight,
            products.selling_price sellingPrice,
            ap.price AS agentPrice
        FROM
            shopping_cart sc
        LEFT JOIN (
            SELECT
                ap.product_id,
                ap.price
            FROM
                agent_products ap
            WHERE
                ap.agent_user_id = #{agentUserId}
        ) ap ON sc.product_id = ap.product_id
        LEFT JOIN products ON sc.product_id = products.id AND products.is_valid = 1
        WHERE
            sc.user_id = #{userId}
    </select>

</mapper>