<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzgreens.common.mapper.UserOrderMapper">
    <select id="selectUserOrderList"
            parameterType="com.nzgreens.common.entity.extend.UserOrderRequest"
            resultType="com.nzgreens.common.entity.extend.UserOrderItemDTO">
        SELECT
            uo.order_number orderNumber,
            uo.`status` userOrderStatus,
            uo.product_price productPrice,
            uo.freight,
            uo.price,
            products.title,
            products.image,
            products.weight,
            orders.comment_status commentStatus,
            orders.`status` orderStatus
        FROM
          user_order uo
        LEFT JOIN
          orders
        ON
        orders.order_number = uo.order_number
        LEFT JOIN
          products
        ON
          products.id = orders.product_id
        WHERE
        uo.user_id = #{userId}
        <if test="statusList != null">
            AND uo.`status` IN
            <foreach collection="statusList" index="index" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
    </select>

</mapper>